:root {
    --variable-collection-password: none;
    --variable-collection-first-name: none;
    --variable-collection-visible1: initial;
    --variable-collection-visible2: initial;
    --variable-collection-visible3: initial;
    --variable-collection-isbookmarked1: initial;
    --variable-collection-isbookmarked2: initial;
    --variable-collection-isbookmarked3: initial;
    --variable-collection-last-name: none;
    --variable-collection-email: none;
  }