/*****BODY CSS*****/

/*prevents scrolling*/
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*****HEADER COMPONENT CSS*****/
.navbar {
  background-color: #1782B4;
  height: 70px;
  padding: 10px;
}

/*spaces navbar evenly and gets rid of bullet points*/
.navbar ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Aligns and centers icon&text (for non-route icons only)*/
.navitems li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*icon text*/
.navitems li span {
  font-size: 20px;
  color: #FEFEFE;
}

.navitems li button {
  background-color: #1782B4;
  border: none;
}

/*icons*/
.icon {
  display: block;
  width: 35px;
  height: 35px;
  color: white;
  margin-bottom: 5px;
}

/*charlotte icon*/
.navitems li img {
  width: 200px;
}

/*Aligns, centers, and gets rid of underline for icon&text (for route icons only)*/
.navitems li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*highlights icon that is showing corresponding content on screen*/
.navitems li a.active .icon,
.navitems li a.active span {
  color: #FFEFAF; 
}

/*****LOGIN & SIGN UP COMPONENT CSS*****/
/*background image*/
.login-background-container {
  background: url('Image-Background/authentication_background.jpg') no-repeat center center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*charlotte icon on authentication pages*/
.charlotte-home-icon-on-authentication {
  border: 5px double #1782B4;
  border-radius: 20px;
  padding: 2px;
}

/*container for login details*/
.login-container{
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 95vh;
  top: 50%;
  margin: 30px 10px 30px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

/*centers the charlotte icon*/
.login-container img {
  display: block;
  width: 100px;
  margin: 20px auto;
  opacity: 0.8;
  margin: 20px auto;
}

.login-container img:hover {
  opacity: 1;
}


/*div for the form the user must fill out to login*/
.auth-details-alignment form{
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 60%;
}

/*LOGIN text css */
.auth-details-alignment p {
  font-size: large;
  font-weight: semibold;
}

/*for all the text that corresponds to each input*/
.auth-details-alignment label {
  font-size: small;
  margin-bottom: 5px;
}

/*css for the input textbox*/
.auth-details-alignment input {
  margin-bottom: 15px;
  padding: 10px;
  opacity: 0.6;
  border-radius: 15px;
  border-style: solid;
  border-color: #8F8F8F;
  border-width: 1px;
}

/*the login button css*/
.auth-details-alignment button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #1782B4;
  margin-top: 30px;
  color: white;
  font-size: large;
  font-weight: semibold;
}

/*div for the social media icons*/
.social-media {
  margin: 50px auto;
  display: flex;
  justify-content: center; /* Centers the social media icons */
  align-items: center; /* Aligns them vertically in the center */
  gap: 20px; /* Adds space between the icons */

}

/*twitter, instagram, facebook icon css*/
.twitter {
  width: 60px; 
  height: 60px; 
  object-fit: contain; /* Ensures the image fits within the container without distortion */
}

.instagram {
  width: 45px; 
  height: 45px;
  object-fit: contain;
}

.facebook {
  width: 47px; 
  height: 47px; 
  object-fit: contain; 
}

.signup-path-container {
  background-color: #1782B4;
  height: 100%;
  width: 45vw;
}

/*container for the signup content fillers*/
.signup-path-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  color: white;
}

/*targets the WELCOME element*/
.signup-path-content-container p:first-of-type {
  font-size: 40px;
  font-weight: semibold;
  margin-bottom: 30px;
  margin-top: -50px;
}

/*targets the paragraph below WELCOME*/
.signup-path-content-container p:nth-of-type(2) {
  font-size: 20px;
  font-weight: semibold;
  font-style: italic;
  gap: 70px;
  text-align: center;
}

/*puts the ~Queen City on a different line*/
.signup-path-content-container p span {
  display: block;
}

.signup-path-content-container p:nth-of-type(3){
  font-size: 20px;
  text-align: center;
}

.signup-path-content-container button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  margin-top: 30px;
  color: #1782B4;
  font-size: large;
  font-weight: semibold;
  width: 150px;
}

/*div for the form the user must fill out to login*/
.auth-details-alignment-signup form{
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 60%;
  margin-top: -10px;
}

/*SIGN UP text css */
.auth-details-alignment-signup p {
  font-size: large;
  font-weight: semibold;
}


/*for all the text that corresponds to each input*/
.auth-details-alignment-signup label {
  font-size: small;
  margin-bottom: 5px;
}

/*css for the input textbox*/
.auth-details-alignment-signup input {
  margin-bottom: 10px;
  padding: 10px;
  opacity: 0.6;
  border-radius: 15px;
  border-style: solid;
  border-color: #8F8F8F;
  border-width: 1px;
}

/*the signup button css*/
.auth-details-alignment-signup button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #1782B4;
  margin-top: 30px;
  color: white;
  font-size: large;
  font-weight: semibold;
}

/*div for the social media icons*/
.social-media-signup {
  margin: 50px auto;
  margin-top: -10px;
  display: flex;
  justify-content: center; /* Centers the social media icons */
  align-items: center; /* Aligns them vertically in the center */
  gap: 20px; /* Adds space between the icons */

}

.login-path-container {
  background-color: #1782B4;
  height: 100%;
  width: 45vw;
}

/*container for the signup content fillers*/
.login-path-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  color: white;
}

/*targets the WELCOME element*/
.login-path-content-container p:first-of-type {
  font-size: 40px;
  font-weight: semibold;
  margin-bottom: 30px;
  margin-top: -50px;
  width: 150%;
  text-align: center;
}

/*targets the paragraph below WELCOME*/
.login-path-content-container p:nth-of-type(2) {
  font-size: 20px;
  font-weight: semibold;
  font-style: italic;
  gap: 70px;
  text-align: center;
}

/*puts the ~Queen City on a different line*/
.login-path-content-container p span {
  display: block;
}

.login-path-content-container p:nth-of-type(3){
  font-size: 20px;
  text-align: center;
}

.login-path-content-container button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  margin-top: 30px;
  color: #1782B4;
  font-size: large;
  font-weight: semibold;
  width: 150px;
}
/* Events Page Details */
#category-label {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin-left: 40px;
}

#price-label {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin-left: 40px;
}

.event-header{
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}

.category-filter{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-left: 60px;
}

.price-filter{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-left: 60px;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  /*text-align: right;*/
  margin-right: 100px;
}

/*****BOOKMARKS COMPONENT CSS*****/
/*Bookmarks container styling */
.bookmarks-container {
  padding: 20px;
  background-color: #EAEAEA;
  height: 100vh;
  overflow-y: auto;
  margin-left: 50px;
  margin-top: 90px;
  width: 50%;
  height: 60vh;
  border-radius: 15px;
}

.bookmarks-container h3{
  margin-top: 0px;
  margin-left: 10px;
  font-size: x-large;
  font-weight: semibold;
}

/* Box to hold all bookmarks */
.bookmarks-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

/* Individual bookmark item styling */
.bookmark-item {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f4f4f4;
}

.bookmark-item h2 {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: semibold;
}

.bookmark-item p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

/*****ACCOUNT COMPONENT CSS*****/

.account-home-container{
  display: flex;
  height: 100vh;
}

.account-navbar {
  margin-left: 150px;
  width: 20%;
}

.account-navbar h2{
  margin-top: 25px;
  font-size: xxx-large;
  font-weight: normal;
}

.account-navbar nav {
  margin: 0;
}

.account-navbar nav ul {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 0;
}

.account-navbar nav ul li {
  padding-bottom: 40px;
  font-size: x-large;
}

.account-navbar nav ul li a {
  text-decoration: none;
  color: black;
}

.account-navbar button {
  background-color: #A71010;
  color: white;
  border: none;
  border-radius: 10px;
  width: 125px;
  height: 30px;
  margin-top: -10px;
  font-size: x-large;
  font-weight: semibold;
}

.profile-container {
  margin-left: 50px;
  margin-top: 90px;
  width: 50%;
  background-color: #EAEAEA;
  height: 60vh;
  border-radius: 15px;
}

.profile-container h3 {
  margin-left: 40px;
  font-size: x-large;
  font-weight: semibold;
}

.profile-card {
  margin-left: 40px;
  width: 90%;
  height: 40vh;
  display: flex;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.profile-image-container label {
  font-size: small;
  font-weight: light;
  background-color: #D9D9D9;
  color: #575757;
  padding: 5px;
  border-radius: 10px;
}

.profile-image {
  object-fit: contain;
  width: 150px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 50%;
  height: 100%;
}

.show-password-button {
  border-style: none;
  background-color: #EAEAEA;
  cursor: pointer;
}



/***** HOME COMPONENT CSS *****/
.home-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

}

.home-background-image{
  background: url('Image-Background/home_background_image.png') no-repeat center center;
  position: relative;
  width: 100vw;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore-the-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 25vw;
  height: 30vh;
  margin-top: -20px;
}

.explore-the-city p {
  color: white;
  font-size: xx-large;
  text-align: center;
  font-weight: bold;
}

.explore-the-city button {
  margin-bottom: 30px;
  margin-top: -20px;
  padding: 10px;
  background-color:#1782B4;
  border-color: white;
  border-width: 3px;
  border-radius: 7px;
  color: white;
}

.spotlight-container {
  width: 100vw;
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;

}

.spotlight {
  margin-top: -25px;
  width: 250px;
  height: 230px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px;
  border-radius: 10px;
}

.spotlight span {
  font-size: 20px; 
  font-weight: bold;
  color: white;
}

.spotlight span a {
  text-decoration: none;
  color: inherit;
}

.spotlight span a:visited {
  color: inherit; 
}

.spotlight:first-of-type {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) ,url('Image-Background/spotlight_1_image.png') no-repeat center center;
}

.spotlight:nth-of-type(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('Image-Background/spotlight_2_image.png') no-repeat center center;
}

.spotlight:nth-of-type(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('Image-Background/spotlight_3_image.png') no-repeat center center;
}

.spotlight:nth-of-type(4) {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('Image-Background/spotlight_4_image.png') no-repeat center center;
}

.home-container-last-p {
  display: block;
  margin-top: -70px;
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
  font-weight: 600;
}

.full-calendar-container {
  width: 100%; /* Ensure the calendar takes the full width */
  height: 100vh; /* Set the height to fill the viewport */
  overflow: auto; /* Allow scrolling if necessary */
}

.fc {
  box-sizing: border-box; /* Ensure proper box model for FullCalendar */
}
